.home_top_elements{
    position: relative;
    color: rgba(26, 25, 25, 0.1);
}

.home_top_content {
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
}
.home_top_heading_size:nth-child(2),
.home_top_heading_size:nth-child(3) {
  font-size: 10vh;
}
.home_top_heading_size:nth-child(2){
    color: #FFD700;
}
